.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background);
}

.content_left {
  width: 50%;
  min-height: 90vh;
  background-image: url(../../../assets/images/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content_rigth {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  margin-top: 3rem;
}

.content .icono {
  height: 33.75px;
  width: 31.74px;
  background-image: url(../../../assets/images/home-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content h2 {
  width: 352px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin: 1rem;
}

.initial-p {
  margin-bottom: 0;
}

.content p {
  width: 100%;
  height: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  text-align: center;
  color: #333333;
}

.content .p2 {
  width: 60%;
  height: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
  color: #333333;
  margin-top: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.correo {
  box-sizing: border-box;
  width: 60%;
  height: 48px;
  padding-left: 1rem;
  background: #ffffff;
  border: 1px solid #e2e8ee;
  border-radius: 8px;
  outline: none;
}

.correo:focus {
  border: 1px solid var(--blue) !important;
}

.input-text {
  box-sizing: border-box;
  width: 80%;
  height: 58px;
  padding-left: 1rem;
  background: #ffffff;
  border: 1px solid #e2e8ee;
  border-radius: 8px;
  outline: none;
}

.input-text:focus {
  border: 1px solid var(--blue) !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 65%;
  padding: 1rem;
  margin: 1rem;
}

.button_ingresar {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 58px;
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 12px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--white);
  margin-top: 5rem;
}

.additional-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.count,
.link-create {
  font-size: 1rem;
}

.link-create {
  font-weight: 700;
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.error-label {
  color: var(--red);
  width: 100%;
}

.error-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1360px) {
  .link-recover,
  .correo,
  .content p {
    width: 80%;
  }

  .content .p2 {
    width: 85%;
  }

  .correo {
    width: 85%;
  }
}

@media (max-width: 920px) {
  .content_left {
    display: none;
  }
  .content_rigth {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }
  .content p {
    width: 100%;
  }

  .content .p2 {
    width: 90%;
    margin-top: 2rem;
  }

  .correo {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .content_left {
    display: none;
  }
  .content_rigth {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .button_registrar {
    height: 40px;
    width: 80%;
    font-size: 0.8rem;
  }
}

