<div class="container-component">
  <form [formGroup]="loginFormGroup" class="content">
    <div class="content_left">
    </div>
    <div class="content_rigth">
      <div style="display: none;">
        <p class="p2">Correo electrónico</p>

        <input class="correo" type="email" placeholder="ejemplo@ejemplo.com" formControlName="email" [ngClass]="{
          'is-invalid':
            (loginFormGroup.controls['email'].invalid &&
              (loginFormGroup.controls['email'].touched ||
                loginFormGroup.controls['email'].dirty)) ||
            (loginFormGroup.controls['email'].invalid && saved)
        }" />
        <div class="error-label-container">
          <span class="error-label" *ngIf="
            (loginFormGroup.controls['email'].invalid &&
              (loginFormGroup.controls['email'].touched ||
                loginFormGroup.controls['email'].dirty)) ||
            (loginFormGroup.controls['email'].invalid && saved)
          ">
            Este campo es requerido
          </span>
        </div>
        <p class="p2">Contraseña</p>
        <input class="correo" type="password" placeholder="*************" formControlName="password" [ngClass]="{
          'is-invalid':
            (loginFormGroup.controls['password'].invalid &&
              (loginFormGroup.controls['password'].touched ||
                loginFormGroup.controls['password'].dirty)) ||
            (loginFormGroup.controls['password'].invalid && saved)
        }" />
        <div class="error-label-container">
          <span class="error-label" *ngIf="
            (loginFormGroup.controls['password'].invalid &&
              (loginFormGroup.controls['password'].touched ||
                loginFormGroup.controls['password'].dirty)) ||
            (loginFormGroup.controls['password'].invalid && saved)
          ">
            Este campo es requerido
          </span>
        </div>
      </div>
      <div class="icono"></div>
      <h2>Inicia sesión</h2>
      <button class="button_ingresar" (click)="login()">Ingresar</button>
    </div>
  </form>
</div>

